<div class="ml-0 mb-2">
    <div class="input-group">
        <div class="input-group-prepend">
            <a class="btn btn-primary"
               asp-action="Create">
                <i class="fa fa-plus"></i>
            </a>
        </div>
        <div class="input-group-append">
            <a class="btn btn-primary"
               asp-action="Index">
                <i class="fas fa-sync-alt"></i>
            </a>
        </div>
        
    </div>
</div>